<div class="container">
  <div class="wrapper-message">
    <h1 id="theMessage">
      Cabinele sunt concepute in functie de pachetul ales.
    </h1>
    <a
      href="pack-prices"
      class="btn-flip"
      data-back="Pachete"
      data-front="Preturi"
    ></a>
  </div>
  <br />

  <div class="wrapper-content">
    <div class="cab" id="cab-vintage">
      <div class="wrapper-image">
        <img src="/assets/images/Vintage Mirror.jpg" alt="vintage" id="image" />
      </div>
      <div class="wrapper-desc">
        <p>
          <span style="color: red">Vintage Mirror</span> este o cabină foto
          lucrată manual, compactă, ușor de montat și transportat, ce îmbină
          clasicul cu modernul având componente de ultimă generație.
        </p>
        <a
          href="pack-prices#vintage-mirror"
          class="btn-flip per-cabin"
          data-back="Mirror"
          data-front="Vintage"
        ></a>
      </div>
      <div class="wrapper-clip">
        <iframe
          width="508"
          height="290"
          src="/assets/clip/cabine-foto-vintage.mp4"
          frameborder="0"
          allowfullscreen
          id="clip"
        ></iframe>
      </div>
    </div>

    <div class="separator"></div>

    <div class="cab" id="cab-clasic">
      <div class="wrapper-image">
        <img src="/assets/images/Vintage White.jpg" alt="clasic" id="image" />
      </div>
      <div class="wrapper-desc">
        <p>
          <span style="color: red">Vintage White</span> este o cabină foto din
          lemn, lucrată manual cu măiestrie, ideală pentru fotografii reușite,
          design-ul minimalist permițându-i să se îmbine cu orice decor.
        </p>
        <a
          href="pack-prices#vintage-white"
          class="btn-flip per-cabin"
          data-back="White"
          data-front="Vintage"
        ></a>
      </div>
      <div class="wrapper-clip">
        <iframe
          width="508"
          height="290"
          src="/assets/clip/magic-mirror.mp4"
          frameborder="0"
          allowfullscreen
          id="clip"
        ></iframe>
      </div>
    </div>

    <div class="separator"></div>

    <div class="cab" id="cab-modern">
      <div class="wrapper-image">
        <img src="/assets/images/Magic Mirror.jpg" alt="modern" id="image" />
      </div>
      <div class="wrapper-desc">
        <p>
          <span style="color: red">Magic Mirror</span> este un obiect mistic,
          care apare în povestea Albă-ca-Zăpada, iar noi o putem transpune
          evenimentului dumneavoastră, aducând magia fotografiei pentru voi.
        </p>
        <a
          href="pack-prices#magic-mirror"
          class="btn-flip per-cabin"
          data-back="Mirror"
          data-front="Magic"
        ></a>
      </div>
      <div class="wrapper-clip">
        <iframe
          width="508"
          height="290"
          src="/assets/clip/white-cabine.mp4"
          frameborder="0"
          allowfullscreen
          id="clip"
        ></iframe>
      </div>
    </div>
  </div>
</div>
