<div class="wrapper-intro">
  <!-- <p class="text-intro" id="emoji1">😂</p> -->
  <p class="text-intro" id="intro1">
    Pentru comenzi va rugam sa ne contactati la nr.
    <span style="color: red">0747 070 645</span>
  </p>
  <p class="text-intro" id="intro2">
    Daca aveti nelamuriri puteti sa ne contactati la
    <span style="color: red">oakevents@yahoo.com</span>
  </p>
  <!-- <p class="text-intro" id="emoji2">😂</p> -->
</div>
<div class="container">
  <div class="wrapper-packs">
    <ul class="tilesWrap">
      <h1 id="vintage-mirror">Vintage Mirror</h1>
      <li>
        <h2>1500€</h2>
        <h3>Basic</h3>
        <br />
        <p>Cutie din lemn lucrată manual</p>
        <p>Cutie din lemn lucrată manual pentru imprimantă</p>
        <p>Display Full HD de 81cm</p>
        <p>Ramă IR Touch</p>
        <p>Ramă decorativă Vintage</p>
        <p>Trepied</p>
        <p>Suport Bliț</p>
        <p>Bliț studio Profesional</p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">Umbrelă</p>
        <p>10 template-uri</p>
        <p>Asistență tehnică NON-STOP</p>
        <p>Transport GRATUIT</p>
        <a href="tel:0747 070 645"><button>Suna acum</button></a>
      </li>
      <li>
        <h2>4500€</h2>
        <h3>Pro</h3>
        <br />
        <p>Cutie din lemn lucrată manual</p>
        <p>Cutie din lemn lucrată manual pentru imprimantă</p>
        <p>Display Full HD de 81cm</p>
        <p>Ramă IR Touch</p>
        <p>Ramă decorativă Vintage</p>
        <p>
          <span style="font-weight: 600; color: rgb(90, 90, 90)">Mini PC</span>
          cu procesor intel i3/i5 + Sistem de operare
        </p>
        <p>Aparat foto Profesional Canon 1300D cu obiectiv foto 18-55mm</p>
        <p>Trepied</p>
        <p>Suport Bliț</p>
        <p>
          Imprimantă foto profesională
          <span style="font-weight: 600; color: rgb(90, 90, 90)"
            >Mitsubishi K60</span
          >
        </p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">Umbrelă</p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">DSLR booth PRO</p>
        <p>10 template-uri</p>
        <p>Asistență tehnică NON-STOP</p>
        <p>Transport GRATUIT</p>
        <a href="tel:0747 070 645"><button>Suna acum</button></a>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="tilesWrap">
      <h1 id="vintage-white">Vintage White</h1>
      <li>
        <h2>1500€</h2>
        <h3>Basic</h3>
        <br />
        <p>Cutie din lemn lucrată manual</p>
        <p>Cutie din lemn lucrată manual pentru imprimantă</p>
        <p>Monitor 15,6 inch cu Multitouch</p>
        <p>Ramă decorativă Vintage</p>
        <p>Trepied cabină</p>
        <p>Suport Bliț</p>
        <p>Bliț studio Profesional</p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">Umbrelă</p>
        <p>10 template-uri</p>
        <p>Asistență tehnică NON-STOP</p>
        <p>Transport GRATUIT</p>
        <a href="tel:0747 070 645"><button>Suna acum</button></a>
      </li>
      <li>
        <h2>4200€</h2>
        <h3>Pro</h3>
        <br />
        <p>Cutie din lemn lucrată manual</p>
        <p>Cutie din lemn lucrată manual pentru imprimantă</p>
        <p>Monitor 15,6 inch cu Multitouch</p>
        <p>Ramă decorativă Vintage</p>
        <p>
          <span style="font-weight: 600; color: rgb(90, 90, 90)">Mini PC</span>
          cu procesor intel i3/i5 + Sistem de operare
        </p>
        <p>Aparat foto Profesinal Canon 1300D cu obiectiv foto 18-55mm</p>
        <p>Trepied</p>
        <p>Suport Bliț</p>
        <p>Bliț studio Profesional</p>
        <p>
          Imprimantă foto profesională
          <span style="font-weight: 600; color: rgb(90, 90, 90)"
            >Mitsubishi K60</span
          >
        </p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">Umbrelă</p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">DSLR booth PRO</p>
        <p>10 template-uri</p>
        <p>Asistență tehnică NON-STOP</p>
        <p>Transport GRATUIT</p>
        <a href="tel:0747 070 645"><button>Suna acum</button></a>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="tilesWrap">
      <h1 id="magic-mirror">Magic Mirror</h1>
      <li>
        <h2>3500€</h2>
        <h3>Basic</h3>
        <br />
        <p>Carcasa este din placaj mesteacăn acoperit cu PVC striat negru</p>
        <p>Touch Screen</p>
        <p>Display Full HD</p>
        <p>Oglindă two way</p>
        <p>Ramă decorativă Vintage</p>
        <p>Bliț studio Profesinal</p>
        <p>
          Imprimantă foto profesională
          <span style="font-weight: 600; color: rgb(90, 90, 90)"
            >Mitsubishi K60</span
          >
        </p>
        <p style="font-weight: 600; color: rgb(90, 90, 90)">Umbrelă</p>
        <p>Asistență tehnică NON-STOP</p>
        <p>Garanție</p>
        <p>Dimensiuni cabină: 90cm x 150cm</p>
        <p>Transport GRATUIT</p>
        <a href="tel:0747 070 645"><button>Suna acum</button></a>
      </li>
    </ul>
  </div>
  <!-- container  -->

  <div class="wrapper-bottom">
    <div class="first-dot">
      <p id="bottom-dot">🔴</p>
    </div>
    <div class="only-text">
      <p id="bottom-text">
        Pretul poate sa difere in functie de caracteristicile tehnice pe care le
        doriti❗
      </p>
    </div>
    <div class="second-dot">
      <p id="bottom-dot">🔴</p>
    </div>
  </div>
</div>
