/* Initial settings */
.navbar {
  flex-grow: 1;
}

.nav {
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

li {
  display: inline;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

#home-link {
  color: white;
  margin-left: 24rem;
  border-radius: 3rem;
  background-color: red;
  box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

#home-link:hover {
  color: #444;
}

#price-link {
  background: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  margin: 5rem 0;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

#price-link:hover {
  color: #444;
  background-color: #fff;
  box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.dropdown .dropbtn {
  background: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.45rem 1.2rem;
  outline: none;
  border: none;
  border-radius: 3rem 3rem 3rem 0;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  color: #444;
  background-color: #fff;
  box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110%;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 1rem 1rem 1rem;
  z-index: 1;
  text-align: start;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 1rem;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#contact {
  background: none;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  margin: 5rem 2rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

#contact:hover {
  color: #444;
  background-color: #fff;
  box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.close-modal {
  position: absolute;
  top: 0.1rem;
  right: 0.9rem;
  font-size: 2.3rem;
  color: #333;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 47%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 25%;
  color: white;

  background-color: rgb(0, 0, 0);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 1920px 90px black;
  z-index: 10;
}

.arrow-modal {
  position: absolute;
  top: 21%;
  left: 76%;
}

#image-arrow {
  width: 3rem;
  height: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Extra small devices */
@media screen and (max-width: 600px) {
  .nav {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    width: 100%;
  }

  li {
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 1%;
    padding-right: 1%;
  }

  #home-link {
    margin-left: 0;
    padding: 1.3% 4%;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  }

  #models {
    margin-left: 0;
  }

  #prices {
    margin-left: 0;
  }

  #price-link {
    margin-left: 0;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.3% 4%;
  }

  #price-link:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #contact {
    margin-left: 0;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1.3% 4%;
  }

  #contact:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown {
    font-size: 0.9rem;
  }

  .dropdown-content {
    min-width: 140%;
  }

  .dropdown .dropbtn {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.35rem 1.2rem;
    margin: 0;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .modal {
    top: 54%;
    left: 64%;
    width: 60%;
    padding: 6%;
    border-radius: 9px;
  }

  .arrow-modal {
    transform: scaleX(-1);
    top: 26.5%;
    left: 66%;
  }
}

/* Small devices */
@media screen and (min-width: 600px) {
  .nav {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
  }

  li {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 3%;
  }

  #home-link {
    margin-left: 0;
    padding: 1.3% 4%;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  }

  #models {
    margin-left: 0;
  }

  #prices {
    margin-left: 0;
  }

  #price-link {
    margin-left: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.3% 4%;
  }

  #price-link:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #contact {
    margin-left: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.3% 4%;
  }

  #contact:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown {
    font-size: 1rem;
  }

  .dropdown-content {
    min-width: 128%;
  }

  .dropdown .dropbtn {
    font-size: 1rem;
    font-weight: 600;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .modal {
    top: 49%;
    left: 70%;
    width: 45%;
    padding: 4%;
    border-radius: 9px;
  }

  .arrow-modal {
    transform: scaleX(-1);
    top: 24%;
    left: 71.5%;
  }
}

/* Medium devices */
@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
  }

  li {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 4%;
  }

  #home-link {
    margin-left: 0;
    padding: 1.3% 4%;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  }

  #models {
    margin-left: 1%;
  }

  #prices {
    margin-left: 1%;
  }

  #price-link {
    margin-left: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1.3% 3.7%;
  }

  #price-link:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #contact {
    margin-left: 0;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1.3% 3.7%;
  }

  #contact:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown {
    font-size: 1.1rem;
  }

  .dropdown-content {
    min-width: 128%;
  }

  .dropdown .dropbtn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.65rem 1.2rem;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .modal {
    top: 56%;
    left: 74%;
    width: 33%;
    padding: 4%;
    border-radius: 9px;
  }

  .arrow-modal {
    transform: scaleX(-1);
    top: 27%;
    left: 71%;
  }
}

/* Large devices */
@media screen and (min-width: 992px) {
  .nav {
    width: 100%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin-top: 1%;
  }

  li {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 4%;
  }

  #home-link {
    margin-left: 0;
    padding: 1.3% 3%;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  }

  #models {
    margin-left: 1%;
  }

  #prices {
    margin-left: 1%;
  }

  #price-link {
    margin-left: 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.3% 3%;
  }

  #price-link:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #contact {
    margin-left: 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.3% 3%;
  }

  #contact:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown {
    font-size: 1.2rem;
  }

  .dropdown-content {
    min-width: 122%;
  }

  .dropdown .dropbtn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.85rem 1.2rem;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .modal {
    top: 56%;
    left: 74%;
    width: 26%;
    padding: 3%;
    border-radius: 9px;
  }

  .arrow-modal {
    transform: scaleX(-1);
    top: 28%;
    left: 69%;
  }
}

/* Extra large devices */
@media screen and (min-width: 1200px) {
  .nav {
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    margin-top: 1%;
  }

  li {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 1.8%;
    padding-right: 1.8%;
  }

  #home-link {
    margin-left: 0;
    padding: 1% 2.3%;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
  }

  #models {
    margin-left: 1%;
  }

  #prices {
    margin-left: 1%;
  }

  .drop-models {
    margin-left: 0.4%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1% 2.3%;
  }

  .drop-models:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #price-link {
    margin-left: 0;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1% 2.3%;
  }

  #price-link:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  #contact {
    margin-left: 0.4%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1% 2.3%;
  }

  #contact:hover {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .dropdown {
    font-size: 1.2rem;
  }

  .dropdown-content {
    min-width: 135%;
  }

  .dropdown .dropbtn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
  }

  .dropdown:hover .dropbtn {
    color: #444;
    background-color: #fff;
    box-shadow: 0 0.1rem 1.8rem rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  .modal {
    top: 55%;
    left: 75%;
    width: 25%;
    padding: 3%;
    border-radius: 9px;
  }

  .arrow-modal {
    transform: scaleX(1);
    top: 28%;
    left: 74%;
  }
}
