<div class="top-section">
  <div class="top-section logo">
    <a class="image-start" href=""
      ><img src=" https://nedieanualexandru.github.io/assets/images/logo.png" alt="image here" id="logo-top"
    /></a>
  </div>
  <div class="top-section contacts">
    <p id="mail">
      <a id="mail-link" href="mailto: oakevents@yahoo.com"
        >📮oakevents@yahoo.com</a
      >
    </p>
    <p id="phone">
      <a id="phone-link" href="tel:0747 070 645">📞0747 070 645</a>
    </p>
    <div class="wrapper-socials">
      <ul class="socials">
        <li class="facebook">
          <img
            onclick="window.open('https://www.facebook.com/cabinefotoromania')"
            src="/assets/images/facebook.png"
            alt="fb"
          />
        </li>
        <li class="instagram">
          <img src="/assets/images/instagram.png" alt="insta" />
        </li>
      </ul>
    </div>
  </div>
</div>
